
@{
    ViewBag.Title = "Index";
}

<h2>Index this My first paragraft</h2>
<p>@ViewBag.name</p>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Dara</td>
            <td>083742374</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Razy</td>
            <td>082367483</td>
        </tr>
    </tbody>
</table>